 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                 <br /><img src="img/MPHshead.png" alt="about-pic"><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>In December of 2004, four friends decided to change the way they were living their lives forever by forming a band and creating rock music without limitations regardless of genre or style. They picked up their
instruments, got to work and went on a whirlwind campaign that lasted years to fulfill what they came to do. </p>
                </div>
                <div class="col-lg-4">
                    <p>Their original EP includes the powerhouse "Barrys Song," a track specifically dedicated to a slain friend and "Confession," open thoughts about an ex-loved one. 
My Private Hell was based out of Los Angeles and heavily expressed strong convictions about everyday struggles of life and all of the different elements it encompassed. </p>
                </div>
            </div>
        </div>
    </section>
