 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                 <br /><img src="img/MPHzoo.jpg" alt="about-pic"><br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>In December of 2004, four friends decided to change the way they were living their lives forever by forming a band and creating rock/metal music without limitations regardless of genre or style. They picked up their
instruments, got to work and went on a whirlwind campaign that lasted for years in which the band ultimately fulfilled what they came to do. Disrupt the scene, create musical awareness and make their mark on the scene. In the end, the band was left
                 with three members who eventually joined and formed other bands in the wake of My Private Hell's hiatus. But truth be told, never say never and never say die.</p>
                </div>
                <div class="col-lg-4">
                    <p>Their original EP includes the powerhouse "Barrys Song," a track specifically dedicated to a slain friend, killed by gun violence and the all encompassing "Confession," which examines the open thoughts of an ex-loved one. The Suicide Ep also boasted two standout tracks in 
                     "Suicide," the story of a friend's indirect plea for help and the thought-provoking "Temptation" which paints the damning reality of an addict trying to stay clean throughout life. 
                     
                     My Private Hell was based out of Los Angeles, a band that heavily expressed strong convictions about the everyday struggles of life, injustice, racism, police brutality and systemic issues in the government. </p>
                </div>
            </div>
        </div>
    </section>
